<h1>this is the page to be</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p id="errors"><%= error %></p>  
  <% end %>
<% end %>

<form action="/users/create" method="post">
	<input type="hidden" name="authenticity_token" value="form_authenticity_token">
	<label>name</label>
	<input type="text" name="user[name]">
	<label>email</label>
	<input type="text" name="user[email]">
	<label>password</label>
	<input type="password" name="user[password]">
	<label>confirm password</label>
	<input type="password" name="user[password_confirmation]">
	<button type="submit">register</button>
</form>