// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
	border: 3px double blue;
}
td{
	border: 1px dotted red;
	text-align: center;
}
th{
	border: 1px dotted green;
	text-shadow: center;
}
